name: Build and Publish

on:
  pull_request:
    types:
    - closed
    branches:
    - stable

permissions:
  contents: write
  id-token: write

jobs:
  build-and-publish:
    if: github.event.pull_request.merged == true
    uses: newrelic/video-core-js/.github/workflows/npm-publish.yml@stable
    with:
      s3-path: 'media-agents/browser/shaka'
      file-to-upload: 'dist/umd/newrelic-video-shaka.min.js'
    secrets:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
